@model ProductManagementSystem.Models.ProductModel;

@{
    ViewData["Title"] = "Create";
}

<style>
    .form-control {
        border: 1px solid black;
        color: black;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Create Product</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <partial name="_ProductFormFields" model="Model" />
                        <button type="submit" class="btn btn-dark">
                            <i class="bi bi-file-plus"></i> Create
                        </button>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Index" class="text-decoration-none text-dark text-center">
                        <i class="bi bi-arrow-left-circle-fill"></i> Go back to list
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
